.clear-bottom {
  &:after {
    clear:both;
    content: "";
    display: block;
  }
}
#main {
  @include flexbox;
  @include flexbox-align-content(stretch);
  @include flexbox-align-items(stretch);
  @include flexbox-justify(center);
  @include flexbox-wrap(wrap);
  @media screen and (min-width: $tabwidth) {
    flex-wrap: nowrap;
  }
  #main-sidebar {
    width: 100%;
    @media screen and (min-width: $tabwidth) {
      width: 31%;
      min-width: 300px;
      @include flexbox;
      @include flexbox-align-content(flex-start);
      @include flexbox-align-items(stretch);
      @include flexbox-justify(center);
      @include flexbox-wrap(wrap);
      height: 100vh;
      @include flexbox-flex(0,1,auto);
    }
    &.home-sidebar {
      >.row-1 {
        >.row-1 {
          .tag {

          }
          .sub-1 {

          }
          .sub-2 {

          }
        }
      }
    }
    header {
      height: 10%;
      @include flexbox-flex(0,1,auto);
    }
    .row-1 {
      @include flexbox;
      @include flexbox-align-content(stretch);
      @include flexbox-align-items(stretch);
      @include flexbox-justify(center);
      @include flexbox-wrap(wrap);
      height: 90%;
      @include flexbox-flex(0,1,auto);
      #site-navigation {
        width: 100%;
        @include flexbox-align-self(flex-start);
        @include flexbox-flex(0,1,auto);
      }
      footer {
        width: 100%;
        @include flexbox-align-self(flex-end);
        @include flexbox-flex(0,1,auto);
      }
    }
  }
  article {
    width: 100%;
    @media screen and (max-width: $tabwidth) {
      background-image: none !important;
    }
    @media screen and (min-width: $tabwidth) {
      float: right;
      width: 69%;
      @include flexbox-flex(0,1,auto);
    }
  }
}