.clear-bottom {
  &:after {
    clear:both;
    content: "";
    display: block;
  }
}
#main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  @media screen and (min-width: $tabwidth) {
    flex-wrap: nowrap;
  }
  #main-sidebar {
    width: 100%;
    @media screen and (min-width: $tabwidth) {
      width: 31%;
      min-width: 300px;
    }
    &.home-sidebar {
      >.row-1 {
        >.row-1 {
          .tag {

          }
          .sub-1 {

          }
          .sub-2 {

          }
        }
      }
    }
    header {
    }
    .row-1 {
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: wrap;
      @media screen and (min-width: $tabwidth) {
        padding-bottom: 80px;
      }
      #site-navigation {
        width: 100%;
        align-self:flex-start;
      }
      footer {
        width: 100%;
        align-self: flex-end;
      }
    }
  }
  article {
    width: 100%;
    @media screen and (max-width: $tabwidth) {
      background-image: none !important;
    }
    @media screen and (min-width: $tabwidth) {
      width: 69%;
    }
  }
}