.clear-bottom {
  &:after {
    clear:both;
    content: "";
    display: block;
  }
}
#main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
  @media screen and (min-width: $tabwidth) {
    flex-wrap: nowrap;
  }
  #main-sidebar {
    width: 100%;
    @media screen and (min-width: $tabwidth) {
      width: 31%;
      min-width: 300px;
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: flex-start;
      flex-wrap: wrap;
      height: 100vh;
    }
    &.home-sidebar {
      >.row-1 {
        >.row-1 {
          .tag {

          }
          .sub-1 {

          }
          .sub-2 {

          }
        }
      }
    }
    header {
      flex: 0 1 auto;
      height: 10%;
    }
    .row-1 {
      display: flex;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;
      flex-wrap: wrap;
      flex: 1 1 auto;
      height: 90%;
      #site-navigation {
        width: 100%;
        align-self: flex-start;
      }
      footer {
        width: 100%;
        align-self: flex-end;
      }
    }
  }
  article {
    width: 100%;
    @media screen and (max-width: $tabwidth) {
      background-image: none !important;
    }
    @media screen and (min-width: $tabwidth) {
      float: right;
      width: 69%;
    }
  }
}